.App {
  text-align: center;
  cursor: default;
  padding-bottom: 73px;
  color: bisque;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.user-info-avatar:hover,
.header-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* rgb(222, 137, 85) */
