.user-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  &-avatar {
    width: 150px;
    height: 100px;
    background-image: url("https://gdalex.netlify.app/img/picture.jpg");
    background-size: cover;
    background-position: center;

    border-radius: 10px;
  }

  &-details {
    font-weight: bold;
  }
}
